<configuration>

  <!-- Configure the console appender -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%d %p %C{1}.%M:%L - %m%n</pattern> -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{FULL} - %class{0}.%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Configure the rolling file appender -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/clientPortal.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/clientPortal.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- <pattern>%d %p %C{1}.%M:%L - %m%n</pattern> -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{FULL} - %class{0}.%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Configure the root logger -->
  <root level="INFO">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

</configuration>
